# Entorno virtual
venv/
*.venv/

# Python caches
__pycache__/
*.pyc

# Base de datos local
*.db
*.sqlite3

# Archivos de configuración/secretos
.env

# Archivos de Excel temporales o de prueba
*.xlsx

main2.py
generar_plantillas_test.py
textito.txt